.main-container {
  background-color: #eeeeee;
  display: flex;
  padding: 50px;
  border-radius: 30px;

  .hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .hotel {
      width: 30%;
      border-radius: 20px;
      overflow: hidden;
      background-color: white;
      margin-right: 20px;
      margin-bottom: 20px;

      img {
        width: 100%;
        min-height: 150px;
      }

      &__info {
        padding: 20px 15px 30px 15px;

        .hotel-name {
          display: block;
          font-size: 2rem;
          font-weight: bold;
          height: 80px;
        }

        p {
          color: #777777;
          font-size: 1.5rem;
          margin: 7px 0;
        }
      }
    }
  }
}

.s-price {
  color: #2b8f0c;
  background-color: rgba(#0ab821, 0.1);
  font-weight: bold;
  padding: 3px 5px;
  width: 100px;
  font-size: 1.2rem;
  border-radius: 15px;
  text-align: center;
}