.header {
  width: 100%;
 text-align: center;
  justify-content: center;
  padding: 20px;

  .search-field {
    font-size: 2rem;
    font-weight: bold;
    border: none;
    outline: none;
    text-align: center;
  }
}

.filters-field {
  margin: auto;
  border: 1px solid grey;
  width: 20%;
  border-radius: 30px;
  
}
